@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Flex';
  src: url('/fonts/RobotoFlex.ttf') format('truetype');
  font-weight: 500 900;
  font-stretch: 64% 150%;
  font-optical-sizing: auto;
  font-style: normal;
  font-display: swap;
}
